<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title></title>
  </head>
  <body>
    <h1>See the Pokemon!!!!!</h1>


    <ul>
      <% for(let i = 0; i < pokes.length; i++){ %>
      <li>
              <a href="/pokemon/<%=i%>"><%=pokes[i].name%></a>


      </li>
      <% } %>
    </ul>

  </body>
</html>
