<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="/style.css">

</head>
	<body class="new">

		<h1>Add a Pokemon</h1>

		<form class="build-a-poke" action="/pokemon" method="POST">
			Name: <input type="input" id="poke-name" name="name" placeholder="poke's name">
			Image:<input type="input" id="poke-img" name="img" placeholder="poke's image">
			Number: <input type="input" id="poke-id" name="id" placeholder="poke's number">
			<input type="submit" id="create-poke">

		</form>
	</br>
		<a href="/pokemon">Back</a>
	</body>
</html>
